# **B. TIỀN XỬ LÝ & KHÁM PHÁ DỮ LIỆU**

### Đọc dữ liệu từ tập file

#### Trước tiên ta hãy khai báo các thư viện

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import warnings
import re 
warnings.filterwarnings('ignore')

#### Sau đó, ta sẽ đọc file `collect_data\collect_data\dataset\info.csvinfo.csv` sau khi thu thập dữ liệu và lưu vào biến `df` là một dataframe

In [2]:
df = pd.read_csv('collect_data\collect_data\dataset\info.csv')
df.head()

,Title,Company,DeadlineHoSo,Salary,Quantity,Hthuc,CapBac,GioiTinh,KinhNghiem,DiaChi,Skill,JobData
0,Business Analyst,Asilla Việt Nam,Hạn nộp hồ sơ: 31/01/2023\r\n,"\r\nTới 1,400 USD\r\n",5 người,Toàn thời gian,Nhân viên,Không yêu cầu,3 năm,"Cầu Giấy,Hà Nội",NaN,- Collaborate with Product Manager to understa...
1,Android Developer,FPT Software,Hạn nộp hồ sơ: 30/04/2023\r\n,\r\nThoả thuận\r\n,5 người,Toàn thời gian,Nhân viên,Không yêu cầu,3 năm,"Hà Nội,Cầu Giấy,Thạch Thất",NaN,"• Working in Global delivery team (US, China, ..."
2,Nhân Viên IT,Công ty CPXD&PTHT Tây Hồ,Hạn nộp hồ sơ: 30/01/2023\r\n,\r\nThoả thuận\r\n,1 người,Toàn thời gian,Nhân viên,Nam,Không yêu cầu kinh nghiệm,"Vĩnh Phúc,TP Vĩnh Yên",NaN,Chịu trách nhiệm giám sát hoạt động pho...
3,\r\nChuyên Viên Quản Trị Cơ Sở Dữ Liệu (Databa...,Ngân Hàng Thương Mại Cổ Phần Kiên Long,Hạn nộp hồ sơ: 31/01/2023\r\n,\r\n15-30 triệu\r\n,1 người,Toàn thời gian,Nhân viên,Nam,3 năm,"Hà Nội,Nam Từ Liêm","Linux,Oracle,SQL,Unix","Hệ thống cơ sở dữ liệu Oracle,Hệ thống Oracle ..."
4,Java Developer,CÔNG TY TNHH YOUMED VIỆT NAM,Hạn nộp hồ sơ: 31/01/2023\r\n,\r\nThoả thuận\r\n,3 người,Toàn thời gian,Nhân viên,Không yêu cầu,1 năm,"Hồ Chí Minh,Quận 10","Java,Message Queue,Back-End Web Development","Phát triển tính năng đặt khám, telemedicine, s..."

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng sẽ là thông tin của một bài đăng tuyển dụng công việc IT. Mỗi dòng đều mang một ý nghĩa giống nhau nên không có vấn đề các dòng có ý nghĩa khác nhau không

### Tập dữ liệu có bao nhiêu dòng và cột?

In [3]:
df.shape

(2336, 12)

### Dữ liệu có các dòng bị lặp không?

#### Ta kiểm tra xem dữ liệu có bị trùng hay không bằng cách dùng hàm `duplicated`

In [4]:
isdup = df.duplicated().sum()
if isdup != 0:
    print('Dữ liệu bị trùng')
    # Nếu trùng ta sẽ bỏ các dòng trùng đi
    df = df.drop_duplicates()
else:
    print('Dữ liệu không bị trùng')

Dữ liệu không bị trùng

### Mỗi cột có ý nghĩa gì?

Ý nghĩa của mỗi cột là:

- **Title** là tiêu đề của mỗi bài đăng tuyển dụng

- **Company** là công ty đăng tin tuyển dụng

- **DeadlineHoSo** là thời hạn nộp hồ sơ ứng tuyển

- **Salary** là lương của công việc

- **Quantity** là số lượng tuyển

- **Hthuc** là hình thức làm việc (full-time hay part-time)

- **CapBac** là cấp bậc của công việc

- **GioiTinh** là giới tính tuyển dụng

- **KinhNghiem** là số năm kinh nghiệm yêu cầu

- **DiaChi** là địa chỉ của nơi làm việc 

- **Skill** là kĩ năng yêu cầu của công việc

- **JobData** là mô tả cụ thể công việc

### Loại bỏ kí tự thừa

#### Sau khi đọc dữ liệu vào `df`, ta có thể thấy các cột có khá nhiều nội dung cần được format lại.

In [5]:
def replace_str(s, str, to_str = ''):
    return s.replace(str, to_str)

df['Title'] = df['Title'].apply(replace_str, str = '\r\n')
df['Salary'] = df['Salary'].apply(replace_str, str = '\r\n')
df['DeadlineHoSo'] = df['DeadlineHoSo'].apply(replace_str, str = '\r\n')
df['DeadlineHoSo'] = df['DeadlineHoSo'].apply(replace_str, str = 'Hạn nộp hồ sơ:')

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [6]:
df.dtypes

Title           object
Company         object
DeadlineHoSo    object
Salary          object
Quantity        object
Hthuc           object
CapBac          object
GioiTinh        object
KinhNghiem      object
DiaChi          object
Skill           object
JobData         object
dtype: object

#### **XỬ LÝ CÁC CỘT NUMERIC** 
Tiếp theo, ta thấy cột `Salary`, cột `KinhNghiem` và cột `Quantity` là 3 cột có thể đưa về `numeric` hoặc `tuple`.

Do đó, ta sẽ xử lý từng cột để các cột trở về đúng định dạng của nó.

### **1. Cột `Salary`**
Kiểm tra xe cột `Salary` có các thành phần nào, có gì giống và khác nhau giữa các thành phần.

In [7]:
df['Salary'].unique()

array(['Tới 1,400 USD', 'Thoả thuận', '15-30 triệu', 'Trên 15 triệu',
       'Tới 20 triệu', 'Tới 1,800 USD ', 'Trên 10 triệu', '14-20 triệu',
       'Tới 2,100 USD', '10-20 triệu', 'Tới 8 triệu', '8-30 triệu',
       'Tới 50 triệu', 'Tới 40 triệu', '700-2,000 USD', 'Tới 22 triệu',
       'Tới 4,000 USD', 'Tới 30 triệu', 'Tới 1,500 USD', '18-50 triệu',
       '500-1,000 USD', ' Tới 40 triệu', '25-30 triệu', ' Thoả thuận',
       '10-15 triệu', 'Trên 8 triệu', 'Tới 17 triệu', '20-40 triệu',
       '2-4 triệu', 'Tới 35 triệu', '12-30 triệu', 'Tới 1,200 USD',
       '10-25 triệu', '20-30 triệu', '18-25 triệu', 'Tới 2,000 USD',
       '15-18 triệu', '18-30 triệu', 'Tới 25 triệu', '8-12 triệu',
       '8-15 triệu', '8-14 triệu', '7-8 triệu', '9-15 triệu',
       '13-20 triệu', '18-35 triệu', 'Tới 3 triệu', '23-40 triệu',
       '2,000-4,000 USD', 'Tới 15 triệu', '15-35 triệu', '7-15 triệu',
       ' Tới 1,500 USD', '2-10 triệu', 'Trên 20 triệu', '11-46 triệu',
       '10-30 triệu', '11-49 triệu', '500-2,000 USD', 'Trên 60 triệu',
       '10-40 triệu', '3-6 triệu', '13-25 triệu', 'Trên 11 triệu',
       'Trên 24 triệu', '10-23 triệu', 'Trên 18 triệu', '7-10 triệu',
       '3.5-4 triệu', '6-8 triệu', 'Trên 3 triệu', '8-20 triệu',
       'Tới 2,400 USD', '750-2,200 USD', '9-20 triệu', '7-12 triệu',
       '3-8 triệu', '5-6 triệu ', '20-45 triệu', '25-50 triệu',
       '1,500-2,500 USD', 'Trên 7 triệu', 'Tới 18 triệu', '23-45 triệu',
       '30-35 triệu', 'Tới 10 triệu', 'Trên 9 triệu', 'Trên 700 USD',
       '6-15 triệu', 'Tới 13.5 triệu', 'Tới 2,200 USD', 'Trên 9.8 triệu',
       '10-12 triệu', 'Trên 14 triệu', '15-25 triệu', '5-12 triệu',
       'Trên 5 triệu', 'Tới 55 triệu', 'Tới 8.5 triệu', '7-12 triệu ',
       'Trên 4 triệu', '14-25 triệu', 'Tới 1,000 USD', 'Tới 2,500 USD',
       'Trên 1,000 USD', '1,000-2,000 USD', '15-22 triệu', 'Tới 45 triệu',
       'Tới 4 triệu', '9-12 triệu', '4-7 triệu', 'Trên 12 triệu',
       'Tới 25 triệu ', '550-2,000 USD', '10-16 triệu', 'Tới 5 triệu',
       '12-20 triệu', '25-60 triệu', '300-2,000 USD', '30-45 triệu',
       '35-40 triệu', '12-15 triệu', '12-25 triệu', '750-1,500 USD',
       '20-35 triệu', '13-18 triệu', ' 7-12 triệu', 'Trên 40 triệu',
       '6-10 triệu', '8-25 triệu', '20-42 triệu', ' 8-30 triệu',
       '8-35 triệu', '15-20 triệu', '10-22 triệu', '13-40 triệu',
       '8.5-12 triệu', '12-16 triệu', '1,200-2,800 USD',
       '1,500-2,000 USD', 'Tới 16 triệu', '2-3 triệu', '1,600-2,000 USD',
       'Trên 1,500 USD', 'Tới 12 triệu', '10-35 triệu', 'Tới 3,000 USD',
       '1,500-3,000 USD', 'Tới 800 USD', '3-5 triệu', 'Tới 2 triệu',
       '20-25 triệu', '750-1,000 USD', '1,000-2,500 USD', 'Tới 6 triệu',
       '700-1,300 USD', 'Trên 16 triệu', '13-50 triệu', '35-50 triệu',
       '5-15 triệu', '10-11 triệu', '18-26 triệu', '12-18 triệu',
       '16-20 triệu', '6-25 triệu', '10-50 triệu', 'Trên 25 triệu',
       'Tới 42 triệu', '8-18 triệu', '4-5 triệu', ' 700-2,000 USD',
       '800-1,500 USD', '1,000-1,500 USD', '10-45 triệu', ' 8-10 triệu',
       '700-1,200 USD', '2-8 triệu', '22-24 triệu', '20-50 triệu',
       ' Trên 12 triệu', '800-2,000 USD', '10-14 triệu', '7-20 triệu',
       '450-2,500 USD', 'Tới 400 USD', '12-35 triệu', '2,500-4,000 USD',
       'Tới 1,700 USD', '350-2,000 USD', 'Tới 1,800 USD', '11-30 triệu',
       '8-50 triệu', '600-2,000 USD', '13-24 triệu', 'Tới 70 triệu',
       '8-11 triệu', '1,200-2,000 USD', 'Trên 1,200 USD', 'Trên 6 triệu',
       '25-40 triệu', '8-10 triệu', '12-50 triệu', '12-14 triệu',
       '6-9 triệu', 'Thoả thuận ', 'Tới 9 triệu', 'Tới 28 triệu',
       '10-18 triệu', ' 3-5 triệu', '12-27 triệu', '6-30 triệu',
       'Trên 10.8 triệu', '700-1,500 USD', '7-9 triệu', '25-35 triệu',
       'Tới 1,300 USD', 'Tới 60 triệu', '15-23 triệu', ' 1,000-1,500 USD',
       '3-4 triệu', '11-27 triệu', '4-6 triệu', 'Tới 39 triệu',
       '11-40 triệu', '950-1,500 USD', '500-1,200 USD', '22-45 triệu',
       '13-16 triệu', '18-40 triệu', '18-45 triệu', '9-11 triệu',
       '25-45 triệu', '9-25 triệu', ' Tới 22 triệu', '17-25 triệu',
       '11-25 triệu', '10-24 triệu', 'Tới 750 USD', '10-17 triệu',
       ' 12-15 triệu', 'Trên 5.5 triệu', '1.2-2 triệu', '8-45 triệu',
       '22-28 triệu', '15-40 triệu', 'Trên 450 USD', '1,800-2,500 USD',
       'Tới 4.8 triệu', '8-13 triệu', '0.6-4.8 triệu', '2-7 triệu',
       '13-30 triệu', '600-1,500 USD', '800-2,500 USD', 'Tới 2,000 USD ',
       '18-27 triệu', 'Trên 2,000 USD', '600-1,000 USD', '17-30 triệu',
       'Trên 13 triệu', '20-26 triệu', '1.5-2 triệu', 'Trên 10 triệu ',
       '8.5-20 triệu', '2-5 triệu', '30-36 triệu', '18-28 triệu',
       'Trên 800 USD', ' 800-2,000 USD', '16-25 triệu', '3-4.5 triệu',
       '23-35 triệu', '25-35 triệu ', '18-23 triệu', '40-45 triệu',
       'Tới 13 triệu', 'Tới 48 triệu', '17-28 triệu', 'Tới 30 triệu ',
       '400-1,300 USD', 'Trên 2 triệu', 'Tới 1,600 USD', '20-22 triệu',
       '22-40 triệu', '7-30 triệu', '4,000-8,000 USD', '5,000-11,000 USD',
       '18-22 triệu', '1,000-1,300 USD', ' Trên 20 triệu', '30-50 triệu',
       '11-23 triệu', '400-1,500 USD', '1.5-4 triệu', 'Trên 9.6 triệu',
       '9-18 triệu', '700-1,600 USD', '900-1,400 USD', '800-1,000 USD',
       'Tới 14 triệu', '15-45 triệu', 'Trên 1 triệu', '12-45 triệu',
       'Tới 7 triệu', '18-23.5 triệu', '5-10 triệu', '15-27 triệu',
       'Tới 11 triệu', '18-35 triệu ', '9-17 triệu', 'Trên 2.5 triệu',
       'Trên 2.3 triệu', '5-8 triệu', 'Tới 28 triệu ', '20-60 triệu',
       '16-40 triệu', '17-35 triệu', ' Trên 5 triệu', '55-65 triệu',
       '11-35 triệu', '500-1,500 USD', '6-12 triệu', '11-13 triệu',
       '1,200-1,800 USD', '5-25 triệu', '11-16 triệu', '12-17 triệu',
       '9-30 triệu', '20-32 triệu', '45-65 triệu', '17-27 triệu',
       '11-18 triệu', 'Trên 30 triệu', '700-2,200 USD', 'Tới 47 triệu',
       'Tới 65 triệu', '400-1,200 USD', 'Trên 500 USD', 'Tới 120 triệu',
       '5-7 triệu', 'Tới 3,500,000 USD', '300-1,800 USD', '3-12 triệu',
       '16-42 triệu', '10-20 triệu '], dtype=object)

Sau đó ta sẽ thống nhất các yếu tố sau:
- Quy về giá trị là USD (1 USD ~ 25,000 VNĐ (Tính theo số liệu 22.11.2022))
- Hạn mức chênh lệch: 200 USD. Ví dụ: Tới 1400 USD ~ (1200, 1400)

Bỏ dấu phẩy trong lương để dễ tính toán

In [8]:
df['Salary'] = df['Salary'].apply(replace_str, str = ',')

Ta thấy cột `Salary` có các từ *Trên*, *Tới* và các mệnh giá tiền là *USD* và *triệu*. Thì ta có thể quy về là dạng **`tuple`** với mệnh giá chung là **USD**

In [9]:
def re_digit(s):
    salary_space = np.array(list(map(int, re.findall('\d+', s))))
    convert_value = 1000000/25000
    vnd = 'triệu'
    if len(salary_space) == 1:
        if vnd in s or vnd.title() in s:
            salary_space[0] = int(salary_space[0]) * convert_value
        if 'Trên' in s:
            result = (salary_space[0], salary_space[0] + 100)
        else:
            if int(salary_space[0]) > 250:
                result = (salary_space[0] - 200, salary_space[0])
            else:
                result = (salary_space[0],salary_space[0])
    elif len(salary_space) == 2:
        if vnd in s or vnd.title() in s:
            salary_space = salary_space * convert_value
        result = (salary_space[0], salary_space[1])
    else:
        result = np.nan
    return result    

df["Salary"] = df["Salary"].apply(re_digit)

In [10]:
df["Salary"]

0          (1200, 1400)
1                   NaN
2                   NaN
3       (600.0, 1200.0)
4                   NaN
             ...
2331       (1300, 1500)
2332         (600, 700)
2333     (400.0, 800.0)
2334       (1800, 2000)
2335                NaN
Name: Salary, Length: 2336, dtype: object

### **2. Cột `KinhNghiem`**
Kiểm tra xe cột `KinhNghiem` có các thành phần nào, có gì giống và khác nhau giữa các thành phần.

In [11]:
df['KinhNghiem'].unique()

array(['3 năm', 'Không yêu cầu kinh nghiệm', '1 năm', 'Dưới 1 năm',
       '2 năm', 'Trên 5 năm', '4 năm', '5 năm'], dtype=object)

Ta thấy, cột kinh nghiệm có sự khác nhau giữ các phần tử, tuy nhiên, nhìn chung, ta có thể thấy các yêu cầu kinh nghiệm sẽ quy được về `năm`. Do đó, ta có các cách làm sau:

- Với các phần tử là `Không yêu cầu kinh nghiệm`, ta sẽ gán giá trị là 0
- Với các phần tử là `Dưới 1 năm`, ta sẽ gán giá trị là 0.5
- Với các phần tử là `Trên 5 năm`, ta sẽ gán giá trị là 5.5
- Còn lại, ta sẽ bỏ từ `năm` đi

In [12]:
df['KinhNghiem'] = df['KinhNghiem'].apply(replace_str, str = 'Trên 5 năm', to_str = '5.5')
df['KinhNghiem'] = df['KinhNghiem'].apply(replace_str, str = 'Dưới 1 năm', to_str = '0.5')
df['KinhNghiem'] = df['KinhNghiem'].apply(replace_str, str = 'Không yêu cầu kinh nghiệm', to_str = '0')
df['KinhNghiem'] = df['KinhNghiem'].apply(replace_str, str = ' năm')

Ta chuyển cột này sang dạng số

In [13]:
df['KinhNghiem'] = pd.to_numeric(df['KinhNghiem'])
df['KinhNghiem']

0       3.0
1       3.0
2       0.0
3       3.0
4       1.0
       ...
2331    2.0
2332    1.0
2333    0.5
2334    5.0
2335    3.0
Name: KinhNghiem, Length: 2336, dtype: float64

### **3. Cột `Quantity`**
Kiểm tra xe cột `Quantity` có các thành phần nào, có gì giống và khác nhau giữa các thành phần.

In [14]:
df['Quantity'].unique()

array(['5 người', '1 người', '3 người', '2 người', '20 người', '78 người',
       '4 người', '30 người', '10 người', '14 người', '6 người',
       '7 người', '8 người', '15 người', '13 người', '37 người',
       '50 người', '200 người', '40 người', '12 người', '9 người',
       '150 người', '29 người', '100 người', '11 người'], dtype=object)

Ở cột này ta thấy có 1 điểm chung là các phần tử dư từ `người`, do đó ta chỉ cần lọc từ người ra khỏi các phần tử của cột là được.

In [15]:
df['Quantity'] = df['Quantity'].apply(replace_str, str = ' người')

In [16]:
df['Quantity'] = pd.to_numeric(df['Quantity'])
df['Quantity']

0       5
1       5
2       1
3       1
4       3
       ..
2331    1
2332    1
2333    3
2334    1
2335    1
Name: Quantity, Length: 2336, dtype: int64

#### **XỬ LÝ CÁC CỘT DATETIME**

Ta thấy cột DeadlineHoSo chứa dữ liệu là ngày tháng nhưng lại có kiểu dữ liệu là object nên cần phải chuyển về dạng datetime

In [17]:
df['DeadlineHoSo'] = pd.to_datetime(df['DeadlineHoSo'])
df['DeadlineHoSo']

0      2023-01-31
1      2023-04-30
2      2023-01-30
3      2023-01-31
4      2023-01-31
          ...
2331   2023-01-31
2332   2023-01-31
2333   2023-01-20
2334   2023-01-31
2335   2023-01-18
Name: DeadlineHoSo, Length: 2336, dtype: datetime64[ns]

### Kiểm tra lại các cột xem dữ liệu đã đúng chưa.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2336 entries, 0 to 2335
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2336 non-null   object
 1   Company       2336 non-null   object
 2   DeadlineHoSo  2336 non-null   datetime64[ns]
 3   Salary        1571 non-null   object
 4   Quantity      2336 non-null   int64
 5   Hthuc         2336 non-null   object
 6   CapBac        2336 non-null   object
 7   GioiTinh      2336 non-null   object
 8   KinhNghiem    2336 non-null   float64
 9   DiaChi        2336 non-null   object
 10  Skill         984 non-null    object
 11  JobData       2330 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 219.1+ KB

Có vẻ kiểu dữ liệu đã đúng theo ý ta muốn.

### Xử lý NaN

Chúng ta coi thử các cột nào có ô NaN, mỗi cột có bao nhiêu ô NaN

In [19]:
df.isnull().sum()

Title              0
Company            0
DeadlineHoSo       0
Salary           765
Quantity           0
Hthuc              0
CapBac             0
GioiTinh           0
KinhNghiem         0
DiaChi             0
Skill           1352
JobData            6
dtype: int64

Ở cột Salary, những ô NaN là những ô mà có giá trị là thoả thuận về lương, vì không thể đoán hay tính toán nên ta cứ để nguyên đó.(Không nên bỏ vì nó hơn 700 dòng).

Ở cột Skill thì có những công việc không yêu cầu ứng cử viên có kĩ năng gì cả nên tốt nhất cũng là nên giữ nguyên luôn

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

In [20]:
dtypes = df.dtypes
ind = dtypes[(dtypes == np.float64) | (dtypes == np.int64)].index
num_col_info_df = pd.DataFrame([],index= ["missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max" ])
for i in ind:
    data = np.array(df[i].isna().sum()*100/len(df)) #tinh phan tram gia tri thieu
    data1 = np.nanpercentile(df[i],(0,25,50,75,100)) #tinh min,lower,median,upper,max
    data = np.append(data,data1)
    num_col_info_df[i] = data.round(1)
num_col_info_df

                Quantity  KinhNghiem
missing_ratio        0.0         0.0
min                  1.0         0.0
lower_quartile       1.0         1.0
median               2.0         1.0
upper_quartile       5.0         2.0
max                200.0         5.5

Ta thấy giá trị max = 200 ở cột Quantity khá bất thường, ta sẽ in thử để kiểm tra

In [21]:
df[df["Quantity"] == 200.0]

,Title,Company,DeadlineHoSo,Salary,Quantity,Hthuc,CapBac,GioiTinh,KinhNghiem,DiaChi,Skill,JobData
1091,Developer,FPT Software,2022-12-31,"(400.0, 800.0)",200,Toàn thời gian,Nhân viên,Không yêu cầu,0.5,"Hà Nội,Cầu Giấy",".NET,Agile,Android,AngularJS,ASP.NET,C#,C++,CS...",",• Là sinh viên đã/sắp tốt nghiệp chuyên ngàn..."

Có vẻ là công ty này đang tuyển nhiều thực tập sinh cho nhiều lĩnh vực nên mới tuyển nhiều như vậy

Ở cột Salary, ta cũng kiểm tra thử xem có gì bất thường không.

Ta sẽ coi giá trị min max của nó bằng cách sort

In [22]:
salary_min_max =  df["Salary"].sort_values().dropna()
print("Min: {}".format(salary_min_max.iloc[0]))
print("Max: {}".format(salary_min_max.iloc[len(salary_min_max)-1]))

Min: (40, 140)
Max: (3499800, 3500000)

Rõ ràng giá trị max cột này có vấn đề, ta sẽ in dòng này thử ra xem sao

In [23]:
df[df["Salary"] == (3499800, 3500000)]

,Title,Company,DeadlineHoSo,Salary,Quantity,Hthuc,CapBac,GioiTinh,KinhNghiem,DiaChi,Skill,JobData
2262,Project Manager,FPT Software,2023-01-13,"(3499800, 3500000)",5,Toàn thời gian,Quản lý / Giám sát,Không yêu cầu,4.0,"Hà Nội,Cầu Giấy,Hồ Chí Minh,Quận 9",NaN,"WHAT YOU’LL BE RESPONSIBLE FOR:,• Coordinate i..."

Theo những gì bài đăng nói thì mức lương đúng chỉ là 3500 USD thôi, ta sẽ điều chỉnh dòng này về đúng giá trị

In [24]:
df.at[2262,'Salary'] = (3400, 3500)

In [25]:
df.loc[2262]['Salary']

(3400, 3500)

### Với mỗi cột có kiểu dữ liệu không phải dạng số, các giá trị được phân bố như thế nào?

Ta chọn các cột Company, Hthuc, CapBac, GioiTinh, DiaChi, Skill để xem sự phân bố

Ta sẽ có các cột có multichoice như là CapBac, DiaChi, Skill. Mỗi ô sẽ là tổ hợp của các choice, vì thế nên nếu đếm trực tiếp các giá trị này sẽ không có ý nghĩa lắm (vì tổ hợp choice khá nhiều) nên ta sẽ đếm số lượng riêng của từng choice

Ta sẽ tính:
- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu 
- Số lượng các giá trị khác nhau
- Tỉ lệ % (từ 0 đến 100) của mỗi giá trị được sort theo tỉ lệ % giảm dần

In [26]:
multichoice_cols = ['CapBac', 'DiaChi', 'Skill']

In [27]:
df['CapBac'] = df['CapBac'].str.replace('/',',')

In [28]:
cat_col = ['Company','Hthuc', 'CapBac', 'GioiTinh', 'DiaChi', 'Skill']

cat_col_info_df = pd.DataFrame(data = [],index= ["missing_ratio", "num_values", "value_ratios"])

for i in cat_col:
    col_info = round(df[i].isna().sum()*100/len(df),3)
    
    data = df[i]
    not_nan_data = data[~pd.isnull(data)]
    
    if i not in multichoice_cols:
        num_val = len(not_nan_data.unique())
        d = not_nan_data.value_counts()
        
    else:
        choices = []
        for j in not_nan_data:
            choice_row = j.split(',')
            choices.extend(choice_row)
        num_val = len(set(choices))
        
        choices = pd.Index(choices)
        d = choices.value_counts()
        
    
    k = d.index
    v = d.values
    dic = {}
    for j in range(len(d)):
        dic[k[j]] = round(v[j]*100/v.sum(),3)   
    cat_col_info_df[i] = [col_info,num_val,dic]

In [29]:
cat_col_info_df.loc['value_ratios']['CapBac']

{'Nhân viên': 85.331,
 'Thực tập sinh': 5.616,
 'Trưởng nhóm': 4.61,
 'Quản lý ': 1.09,
 ' Giám sát': 1.09,
 'Trưởng': 1.006,
 'Phó phòng': 1.006,
 'Giám đốc': 0.21,
 'Trưởng chi nhánh': 0.042}

Dữ liệu không có gì quá bất thường

Sau đó ta sẽ ghi dữ liệu ra 1 file mới tên là `data.csv`

In [30]:
df.to_csv('data.csv')